@tailwind base;
@tailwind components;
@tailwind utilities;

/* Roboto Mono */
@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/roboto-mono/RobotoMono-Italic.ttf);
}
@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/roboto-mono/RobotoMono-BoldItalic.ttf);
}
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/roboto-mono/RobotoMono-Regular.ttf);
}
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/roboto-mono/RobotoMono-Bold.ttf);
}

.button {
  @apply bg-white dark:bg-black hover:bg-black-900 dark:hover:bg-black-100 px-4 py-2 rounded-lg border-black dark:border-white border cursor-pointer;
}
